<button><%= link_to 'Edit', edit_cart_path(@cart) %> |
<%= link_to 'Back', carts_path %></button>

<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>

<h2>Your Cart</h2>
<table>
  <% @cart.line_items.each do |item| %>
      <tr>
        <td><%= item.quantity %>&times;</td>
        <td><%= item.product.title %></td>
        <td class="product_description"><%= strip_tags(item.product.description[0..30]) %></td>

        <td class="item_price"><%= number_to_currency(item.total_price) %></td>

        <td><%= button_to 'Empty item', item, method: :delete,
                      data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>


  <tr class="total_line">
    <td colspan="3">Total</td>
    <td class="total_cell"><%= number_to_currency(@cart.total_price) %></td>
  </tr>
</table>

<button><%= button_to 'Empty cart', @cart, method: :delete, data: { confirm: 'Are you sure?' } %></button>
<button><%= button_to 'Products list', store_index_path, method: :get  %></button>

